<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/css.css">
</head>
<body>
    <%- include('partials/header.ejs')%>
    <h1>About</h1>
    <p class="abouttext">this is a simple weather app made using html,css, javascript,node js.the geolocation data is retrived from mapbox api and the weather data is retrived from weather stack api</p>
    
</body>
</html>