<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/css.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs')%>

    <p class="abouttext">In the home page,search for the location in the search bar to get the weather updates</p>

</body>
</html>